# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environments
venv/
.venv/
env/

# Django
db.sqlite3

# Environment Variables
.env

# IDE
.vscode/
.idea/

# OS Files
.DS_Store
Thumbs.db

# Logs
*.log

# Python Cache
.pytest_cache/

# Coverage
htmlcov/
.coverage

# Build Files
build/
dist/

data.json
db.sqlite3.backup